@using Web.Areas.Admin.ViewModels

@model AttributeListViewModel

<table class="table">
    <tr>
        @if (Model.ShowDefinitionName)
        {
            <th>
                @Html.DisplayNameFor(model => model.Attributes.FirstOrDefault().EntityDefinition.Name)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Attributes.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attributes.FirstOrDefault().DataType)
        </th>
        @if (Model.ShowCommandLinks)
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model.Attributes)
    {
        <tr>
            @if (Model.ShowDefinitionName)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.EntityDefinition.Name)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataType)
            </td>
            @if (Model.ShowCommandLinks)
            {
                <td>
                    
                    @Html.ActionLink("Edit", "Edit", "Attributes", new { id = item.AttributeId }, null) |
                    @Html.ActionLink("Details", "Details", "Attributes", new { id = item.AttributeId }, null) |
                    @Html.ActionLink("Delete", "Delete", "Attributes", new { id = item.AttributeId }, null)
                </td>
            }
        </tr>
    }

</table>
